/* General styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial, sans-serif;
}

/* Main container that holds the entire page content and theme classes */
.main-container {
  min-height: 100vh;
  position: relative; /* Needed for positioning theme toggle and footer */
  overflow: hidden;
}

/* =========================================
   ALGORITHM DROPDOWN
   ========================================= */

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
}

.home-button {
  margin-right: 1rem;
  font-size: 1.25rem;
  cursor: pointer;
  background: none;
  border: none;
}

.nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.dropdown-group {
  position: relative; /* Relative needed for dropdowns to look right */
  align-items: center;
}

/* Labels always seen */
.dropdown-label {
  font-weight: bold;
  cursor: pointer;
  color: #808080;
  text-align: center;
}

/* Hidden dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  top: 1.5rem; /* Do not change or too far to hover over! */
  left: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  list-style: none;
  padding: 0.5rem;
  margin: 0;
  z-index: 10;
}

.light-theme .dropdown-content {
  background-color: #ffffff;
}

.dark-theme .dropdown-content {
  background-color: #343a40;
}

.dropdown-content li {
  margin: 0;
  padding: 0.25rem 0;
}

.dropdown-group:hover .dropdown-content {
  display: block;
}

.dropdown-content button {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
  color: #808080;
}

.dropdown-content button:hover {
  color: #FF5722;
}

/* The page-content can hold the content of Home, BubbleSort, etc. */
.page-content {
  margin: 20px;
  padding: 20px;
}

/* =========================================
   THEME TOGGLE AND SPECIFICS
   ========================================= */

.theme-toggle-container {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

/* Theme button */
.theme-toggle-btn {
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background: #f8f9fa;
  color: #343a40;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  transition: background 0.3s ease;
}

/* Theme button hover */
.theme-toggle-btn:hover {
  background: #e9ecef;
}

/* Light Theme */
.light-theme {
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
  color: #343a40;
}

/* Dark Theme */
.dark-theme {
  background: linear-gradient(135deg, #212529, #343a40);
  color: #f8f9fa;
}

/* Override the theme-toggle-btn in dark mode */
.dark-theme .theme-toggle-btn {
  background: #343a40;
  color: #f8f9fa;
}

.dark-theme .theme-toggle-btn:hover {
  background: #495057;
}

/* =========================================
   LEFT-HAND FOOTER
   ========================================= */
.footer-left {
  min-width: 350px;
  height: 50px;
  font-size: 0.75rem;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  left: 30px;
}

.dark-theme .underline {
  color: #f8f9fa;
}

.light-theme .underline {
  color: #495057;
}

/* =========================================
   HOME.ELM
   ========================================= */
/* Container for Pages.Home.elm */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
  /* z-index and position for background array */
  z-index: 0;
  position: relative;
  min-height: 600px;
  /* Big width and height for array to take up background */
}

/* Title: Algorithms and Data Structures */
.home-title {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

/* Brief description below title */
.home-text {
  font-size: 1.1rem;
  max-width: 600px;
  line-height: 1.5;
  text-align: center;
}

.background-bar {
  width: 100px;
}

/* =========================================
   SORTING ALGORITHM PAGES
   ========================================= */

.sort-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Title of Sorting Algorithm */
.sort-title {
  font-size: 2.5rem;
  margin-left: -10px;
  font-weight: bold;
  text-align: center;
  
}

/* Description of how algorithm works */
.description {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
  max-width: 600px;
  text-align: center;
}

.light-theme .indices {
  color: #343a40;
}

.dark-theme .indices {
  color: #f8f9fa;
}

/* Button container */
.control-buttons {
  margin: 15px;
  justify-content: center;
  display: flex;
  gap: 1rem;
}

/* Individual buttons */
.sorting-button {
  width: 80px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Text on buttons */
.button-text {
  text-align: center;
  font-size: 1rem;
}

.sorting-button:hover {
  background-color: #1769aa;
}

.sorting-bar {
  width: 40px;
  transition: height 0.5s ease, background-color 0.5s ease;
}

/* Big(O) */
.big-o-title {
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
}

/* List of complexities */
.big-o-list {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  text-align: center;
}

/* Individual item in list */
.big-o-item {
  font-size: 1rem;
}

/* Align text in the divs */
.big-o-item div {
  text-align: center;
}

.space-complexity {
  align-items: center;
  margin-top: 20px;
  text-align: center;
}

/* =========================================
   TREE STYLING
   ========================================= */

.tree-page {
  text-align: center;
  margin: 20px auto;
  width: 80%;
}

/* Traversal button container */
.traversal-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  width: fit-content;
}

.traversal-button {
  padding: 10px 20px;
  background-color: #2196F3;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  border: none;
  outline: none;
}

.traversal-button:hover {
  background-color: #1769aa;
}

.traversal-button.selected {
  background: linear-gradient(180deg,   #FF5722, #FF8A65);
}

/* Typing, insert, and delete container */
.insert-delete-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

/* Row containing input and buttons */
.insert-delete-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Typing field (input) */
.insert-delete-row input {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  background-color: #6c757d;
  color: white;
  width: 100px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.insert-delete-row input::placeholder {
  color: #ced4da;
  text-align: center;
}

/* Disclaimer below row */
.disclaimer {
  font-size: 0.8rem;
  color: #adb5bd;
  text-align: center;
  margin-top: 5px;
}

/* Buttons container */
.insert-delete-row button {
  padding: 10px 20px;
  background-color: #2196F3;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s;
  border: none;
  outline: none;
  cursor: pointer;
}

.insert-delete-row button:hover {
  background-color: #1769aa;
}

/* =========================================
   Graph Styling
   ========================================= */

   .graph-page {
    text-align: center;
    margin: 20px auto;
    width: 80%;
  }

/* =========================================
   Data Structures
   ========================================= */
  .element-container {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: flex-end;
    margin: 40px 0 30px;
    flex-wrap: wrap;
  }

  .element-placeholder {
    width: 60px;
    height: 79px;
    visibility: hidden;
  }

  .wireframe-slot {
    width: 60px;
    height: 59px;
    margin: 10px;
  }
  
  .element-box {
    text-align: center;
    flex-direction: column;
  }
  
  .element-label {
    font-size: 12px;
    color: #888;
    margin-bottom: 6px;
  }
  
  .light-theme .element-value {
    background-color: #343a40;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 12px 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    min-width: 48px;
    text-align: center;
  }

  .dark-theme .element-value {
    background-color: white;
    color: #343a40;
    font-weight: bold;
    font-size: 18px;
    padding: 12px 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    min-width: 48px;
    text-align: center;
  }

  .arrow {
    display: flex;
    align-items: center;
    justify-content: top;
    font-size: 24px;
    margin: 0 4px;
    min-height: 50px;
  }
  
  .stack-arrow .queue-arrow {
    font-size: 20px;
    margin-bottom: 4px;
    color: #666;
  }
  
/* =========================================
   SMALLER MEDIA
   ========================================= */

@media (max-width: 1000px) {
  .sorting-bar {
    width: 20px;
  }

  .tree-page {
    display: none;
  }
}

@media (max-width: 800px) {

  /* No label and reduced font on algorithm dropdown */
  .dropdown-label {
    font-size: 10px;
  }

  .nav {
    gap: 1rem;
  }

  .dropdown-content {
    top: 1rem; /* Do not change or too far to hover over! */
  }

  .dropdown-content button {
    font-size: 10px;
  }

  /* Theme button smaller and closer to corner */
  .theme-toggle-container {
    bottom: 20px;
    right: 20px;
  }
  
  .theme-toggle-btn {
    width: 30px;
    height: 30px;
    font-size: 1rem;
  }

  /* Fix text to specific place on page */
  .home-text {
    display: none;
  }

  /* Made bar chart less wide */
  .sorting-bar {
    width: 8px;
    gap: 3px;
  }

  .index {
    display: none;
  }

  /* Reduced size of sorting buttons */
  .sorting-button {
    padding: 5px 10px;
    margin: 10px;
    font-size: 1rem;
  }

  /* Key indices take up a bit less space */
  .indices {
    font-size: smaller;
  }

  .big-o-item {
    font-size: 0.7rem;
  }

  .space-complexity {
    font-size: 0.7rem;
  }
}
